@import "./variables.css";

@font-face {
    font-family: "mons";
    src: url("../public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none ;
}

#app {
    font-family: "mons";
}



