:root {
    /* * BG */
    --primary-bg-color : darkorchid ;
    
    /* * COL */
    --primary-text-color : white ;

    /* * FS */
    --xl-fs : 2rem;
    --l-fs : 1.2rem;
    --m-fs : 1rem;
    --s-fs : .8rem;

    /* * box-shadow */
    --standart-box-shadow : 6px 7px 6px;

    /* *Pad */
    --xl-pad : 3rem;
    --l-pad : 2rem;
    --m-pad : 1rem;
    --s-pad : .8rem;

    /* *Mar */
    --xl-mar : 3rem;
    --l-mar : 2rem;
    --m-mar : 1rem;
    --s-mar : .8rem;

    /* *bord */
    --border-col : magenta ;
}